{
  "printWidth": 80,
  "useTabs": true,
  "singleQuote": false,
  "trailingComma": "none",
  "arrowParens": "always",
  "singleAttributePerLine": true,
  "plugins": ["prettier-plugin-tailwindcss"]
}
